<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MDB</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/example.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
<style>
  body {margin:0;}
  .navbar {overflow: hidden; background-color: #333; position: fixed; top: 0; width: 100%;}
</style>
  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body id="body">

  <!--==========================
    Header
  ============================-->
  <div id="header-sticky-wrapper" class="sticky-wrapper" style="height:84px;">
  <header id="header" style="width: 100%; position: fixed; top: 0px; z-index: 50;">
    <div class="container">
      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Movie<span>DB</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="celebs">Celebs</a></li>
          <li><a href="ratings">Ratings</a></li>
          <li class="dropdown-toggle mr-md-2"><a href="">Top</a>
            <ul>
              <li class="dropdown dropright"><a href="#">Top Movies</a>
                <ul>
                    <li class="dropdown-item"><a href="#">Top 10</a></li>
                    <li class="dropdown-item"><a href="#">Top 50</a></li>
                    <li class="dropdown-item"><a href="#">Top 100</a></li>
                </ul>
              </li>
              <li class="dropdown dropright" ><a href="#">Top Actors</a>
                <ul>
                    <li><a href="#">Top 10</a></li>
                    <li><a href="#">Top 50</a></li>
                    <li><a href="#">Top 100</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="contact">Contact</a></li>
          <li><!-- Search form -->
              <form class="form-inline ml-auto">
                  <div class="md-form my-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                  </div>
                  <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
                </form>

          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
</div>
  {% block content %}{% endblock %}

  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
