{% extends "base.html" %}
{% block content %}
    <!--==========================
    Intro Section
  ============================-->
<section>...</section>
  <section>...</section>
<section>...</section>
  <section>
    ...
  </section>
<div class="container">
  <h2 style="color: #50d8af; text-align: right;"><strong>Contacts</strong></h2>
  <address style="text-align: right;">
    Written by <a href="mailto:webmaster@example.com">  ACA Python July 2019 Team</a>.<br>
    Visit us at: Movie DB<br>
    <a href="mailto:webmaster@example.com">https://www.MDB.com<br></a>
    Box 3564, Yerevan<br>
    RA
</address>


</div>
{% endblock content %}