{% extends "base.html" %}
{% block content %}
    <!--==========================
    Intro Section
  ============================-->
<section>...</section>
  <section>...</section>
<section>...</section>
  <section>
    ...
  </section>
<div class="container">
  <h2 style="color: #50d8af;"><strong>Ratings</strong></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>N</th>
        <th>poster</th>
        <th>Name</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="45" height="67">1</td>
        <td width="90" height="67"><img src="static/img/GOD_FATHER.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">God father</td>
        <td width="45" height="67"> 91</td>
      </tr>
      <tr>
        <td width="45" height="67">2</td>
        <td width="90" height="67"><img src="static/img/INCEPTION.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">Inception</td>
        <td width="45" height="67"> 87</td>
      </tr>
      <tr>
        <td width="45" height="67">3</td>
        <td width="90" height="67"><img src="static/img/THE LORD of THE RING.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">The lord of the ring</td>
        <td width="45" height="67"> 89</td>
      </tr>
    <tr>
        <td width="45" height="67">1</td>
        <td width="90" height="67"><img src="static/img/GOD_FATHER.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">God father</td>
        <td width="45" height="67"> 91</td>
      </tr>
      <tr>
        <td width="45" height="67">2</td>
        <td width="90" height="67"><img src="static/img/INCEPTION.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">Inception</td>
        <td width="45" height="67"> 87</td>
      </tr>
      <tr>
        <td width="45" height="67">3</td>
        <td width="90" height="67"><img src="static/img/THE LORD of THE RING.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">The lord of the ring</td>
        <td width="45" height="67"> 89</td>
      </tr>
    <tr>
        <td width="45" height="67">1</td>
        <td width="90" height="67"><img src="static/img/GOD_FATHER.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">God father</td>
        <td width="45" height="67"> 91</td>
      </tr>
      <tr>
        <td width="45" height="67">2</td>
        <td width="90" height="67"><img src="static/img/INCEPTION.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">Inception</td>
        <td width="45" height="67"> 87</td>
      </tr>
      <tr>
        <td width="45" height="67">3</td>
        <td width="90" height="67"><img src="static/img/THE LORD of THE RING.jpg" width="70" height="87"></td>
        <td width="400" height="67" align="middle; left">The lord of the ring</td>
        <td width="45" height="67"> 89</td>
      </tr>

    </tbody>
  </table>
</div>
{% endblock content %}